@mixin font-face ($name, $weight, $style){
    $weightNumber: null;
    @if $weight == extralight {
        $weightNumber: 200;
    } @else if $weight == light {
        $weightNumber: 300;
    } @else if $weight == normal {
        $weightNumber: normal;
    } @else if $weight == semibold {
        $weightNumber: 600;
    } @else if $weight == bold {
        $weightNumber: 700;
    } @else if $weight == black {
        $weightNumber: 800;
    }

    @if $style == normal {
        $style: null;
    }
    
    /* #{$name} #{$weight} #{$style}*/
    @font-face {
        font-family: $name;
        src: url('../../fonts/#{$name}-#{$weight}#{$style}.eot');
        src: url('../../fonts/#{$name}-#{$weight}#{$style}.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/#{$name}-#{$weight}#{$style}.woff') format('woff'),
        url('../../fonts/#{$name}-#{$weight}#{$style}.ttf') format('truetype');
        font-weight: $weightNumber;
        font-style: $style;
    }
}
