/*
autor: Florian Riviere - FRiviere
Bitbucket: https://github.com/FRiviere/
*/
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-extralight.eot");
  src: url("../../fonts/SourceSansPro-extralight.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-extralight.woff") format("woff"), url("../../fonts/SourceSansPro-extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-extralightitalic.eot");
  src: url("../../fonts/SourceSansPro-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-extralightitalic.woff") format("woff"), url("../../fonts/SourceSansPro-extralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-light.eot");
  src: url("../../fonts/SourceSansPro-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-light.woff") format("woff"), url("../../fonts/SourceSansPro-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-lightitalic.eot");
  src: url("../../fonts/SourceSansPro-lightitalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-lightitalic.woff") format("woff"), url("../../fonts/SourceSansPro-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-regular.eot");
  src: url("../../fonts/SourceSansPro-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-regular.woff") format("woff"), url("../../fonts/SourceSansPro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-regularitalic.eot");
  src: url("../../fonts/SourceSansPro-regularitalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-regularitalic.woff") format("woff"), url("../../fonts/SourceSansPro-regularitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-semibold.eot");
  src: url("../../fonts/SourceSansPro-semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-semibold.woff") format("woff"), url("../../fonts/SourceSansPro-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-semibolditalic.eot");
  src: url("../../fonts/SourceSansPro-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-semibolditalic.woff") format("woff"), url("../../fonts/SourceSansPro-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-bold.eot");
  src: url("../../fonts/SourceSansPro-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-bold.woff") format("woff"), url("../../fonts/SourceSansPro-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-bolditalic.eot");
  src: url("../../fonts/SourceSansPro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-bolditalic.woff") format("woff"), url("../../fonts/SourceSansPro-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-black.eot");
  src: url("../../fonts/SourceSansPro-black.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-black.woff") format("woff"), url("../../fonts/SourceSansPro-black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-blackitalic.eot");
  src: url("../../fonts/SourceSansPro-blackitalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-blackitalic.woff") format("woff"), url("../../fonts/SourceSansPro-blackitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
